.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名(A)
          %li.member
            メンバー名(B)
          %li.member
            メンバー名(C)
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー(A)
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            メッセージ(テスト)
      .message
        .upper-message
          .upper-message__user-name
            メンバー(B)
          .upper-message__date
            2017/04/05
        .lower-meesage
          .lower-message__content
            メッセージ(B)
      .message
        .upper-message
          .upper-message__user-name
            メンバー(C)
          .upper-message__date
            2017/04/06
        .lower-meesage
          .lower-message__content
            メッセージ(C)
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}
 